<!--<ul>-->
<!--  <li> Nom : {{ personne.nom }} </li>-->
<!--  <li> Prenom : {{ personne.prenom }} </li>-->
<!--</ul>-->
<!--<ul>-->
<!--  <li *ngFor="let elt of tab">-->
<!--    {{ elt }}-->
<!--  </li>-->
<!--</ul>-->

<!--<p>{{ direBonjour() }}</p>-->
<!--<p> {{ title }} </p>-->

<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;  <li *ngFor="let elt of tab; let i = index; let isFirst =&ndash;&gt;-->
<!--&lt;!&ndash;    first">&ndash;&gt;-->
<!--&lt;!&ndash;    {{ i }} <p>:</p> {{ elt }}  <p>:</p> {{ isFirst }}&ndash;&gt;-->
<!--&lt;!&ndash;  </li> </ul>&ndash;&gt;-->

<!--<ul>-->

<!--  <li *ngIf="tab[1] % 2 != 0; else sinon">-->
<!--    {{ tab[1] }} est impair-->
<!--  </li>-->
<!--  <ng-template #sinon>-->
<!--    <li>-->
<!--      {{ tab[1] }} est pair-->
<!--    </li>-->
<!--  </ng-template>-->
<!--</ul>-->

<!--<ul>-->

<!--  <ng-container *ngFor="let elt of tab">-->
<!--    <li *ngIf="elt % 2 != 0; else sinon">-->
<!--      {{ elt }} est impair-->
<!--    </li>-->
<!--    <ng-template #sinon>-->
<!--      <li>-->
<!--        {{ elt }} est pair-->
<!--      </li>-->
<!--    </ng-template>-->
<!--  </ng-container>-->
<!--</ul>-->

<!--<ul>-->
<!--  <ng-container *ngFor="let elt of tab">-->
<!--    <ng-container [ngSwitch]="elt">-->
<!--      <li *ngSwitchCase="1">-->
<!--        {{ elt }} = un-->
<!--      </li>-->
<!--      <li *ngSwitchCase="2">-->
<!--        {{ elt }} = deux-->
<!--      </li>-->
<!--      <li *ngSwitchCase="3">-->
<!--        {{ elt }} = trois-->
<!--      </li>-->
<!--      <li *ngSwitchDefault>-->
<!--        {{ elt }} : autre-->
<!--      </li>-->
<!--    </ng-container>-->
<!--  </ng-container>-->
<!--</ul>-->


<!--<ul>-->
<!--  <ng-container *ngFor="let elt of tab">-->
<!--    <ng-container [ngSwitch]="true">-->
<!--      <li *ngSwitchCase="elt >= 0 && elt < 10">-->
<!--        {{ elt }} :  ́echec </li>-->
<!--      <li *ngSwitchCase="elt >= 10 && elt < 13">-->
<!--        {{ elt }} : moyen-->
<!--      </li>-->
<!--      <li *ngSwitchCase="elt >= 13 && elt < 15">-->
<!--        {{ elt }} : bien-->
<!--      </li>-->
<!--      <li *ngSwitchCase="elt >= 15"> {{ elt }} : tr`es bien-->
<!--      </li>-->
<!--      <li *ngSwitchDefault>-->
<!--        autre </li>-->
<!--    </ng-container>-->
<!--  </ng-container>-->
<!--</ul>-->

<!--<p [textContent]=nom [ngStyle]="{backgroundColor:-->
<!--   couleur}"></p>-->

<!--<p [ngStyle]="{color: getColor(), backgroundColor:-->
<!--getBackgroundColor()}">-->
<!--  {{ nom }}-->
<!--</p>-->


  <app-menu></app-menu>
<router-outlet></router-outlet>
